.avatar {
  vertical-align: middle;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.forum-post {
  width: 100%;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forum-post-even {
  background: #ccecff;
}

.forum-post .post-header {
  border-bottom-color: #eeeeee;
}

.forum-post-even .post-header {
  border-bottom-color: #c1ddee;
}

.post-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3px;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}

.post-author {
  color: var(--color-primary);
}

.post-at {
  color: var(--color-secondary);
}

.post-author,
.post-at {
  font-weight: 500;
  font-size: var(--font-size-small);
}

.post-content-wrapper {
  padding: 15px;
  display: flex;
  gap: 15px;
  justify-content: start;
}

.post-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-title,
.post-content {
  text-align: left;
}

@media (max-width: 600px) {
  .post-content-wrapper {
    flex-direction: column;
  }

  .post-image {
    width: 100%;
  }
}
